---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="bg-white px-4 py-8 antialiased md:py-16">
    <div
      class="mx-auto grid max-w-screen-xl rounded-lg bg-gray-50 p-4 md:p-8 lg:grid-cols-12 lg:gap-8 lg:p-16 xl:gap-16"
    >
      <div class="lg:col-span-5 lg:mt-0">
        <img class="" src="/images/kele.png" alt="peripherals" />
      </div>
      <div class="me-auto place-self-center lg:col-span-7">
        <h1 class="text-3xl font-bold leading-tight tracking-tight md:text-4xl">
          Hola! Mi nombre es Kele ----
        </h1>
        <h2
          class="mb-3 text-xl text-dark font-semibold leading-tight tracking-tight md:text-2xl"
        >
          Diseñadora Grafica, Redactora, Escritora
        </h2>
        <p class="mb-6 text-dark">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
          recusandae hic suscipit incidunt dolorem voluptatibus, velit cumque
          quam corporis, ut reiciendis est et aspernatur culpa beatae iste error
          provident amet?
        </p>
        <a
          href="mailto:eliezermeza.dev@gmail.com?Subject=lorem"
          target="_blank"
          class="inline-flex items-center justify-center bg-darken px-5 py-3 text-center text-base font-medium text-liten transition-all hover:bg-dark"
        >
          Contactame!
        </a>
      </div>
    </div>
  </section>
</Layout>
