---
import Navigation from "../components/common/Navigation.astro";
import Logo from "./common/Logo.astro";
---

<header class="w-full max-w-screen-xl mx-auto px-4 py-10 flex justify-center sm:justify-between">
  <a href="/" class="hidden sm:flex">
    <Logo />
  </a>

  <nav>
    <Navigation />
  </nav>
</header>
